* {
  box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.item {
    background-color: #e3dad0;
}

.container {
    margin: 4rem;
    display: flex;
    flex: column;
    flex-wrap: wrap;
  }

.card {
    text-align: center;
    background-color: white;
    padding: .5rem;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
  }

.card p {
    color: #cc8561;
    text-align: center;
    font-size: 1.5rem;
}

.card img {
    height: 20rem;
    border-radius: 10px 10px 0 0;
}

main {
  flex: 1;
}

button {
    font-size: 1rem;
    padding:0.46em 1.6em;
    border:0.1em solid #cc8561;
    margin:0 0.2em 2em 0rem;
    border-radius:0.5em;
    background-color: white;
    color:#cc8561;
    transition: all 0.15s;
}

button:hover{
  background-color: #f7e1d6;
}

a:link {
    text-decoration: none;
    color: #cc8561;
} 

a:visited {
    text-decoration: none;
    color: #cc8561; 
}

header {
    height: 100vh;
    text-align: center;
    color: white; 
    background-image: url("../img/goldens-holding-food-bowls.jpeg");
    background-size: cover;
    flex-direction: column;
}

header h1 {
  font-size: 20vh;
  margin-top: 30vh;
  margin-bottom: 0;
}

header h1, header p {
  text-shadow: .5vh .5vh .2vh #cc8561;
  font-family: 'East Sea Dokdo', cursive;
}

header p {
    margin-top: 0;
    font-size: 7vh;
}

.navbar nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#cc8561;
    box-shadow: 1px 2px grey;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    display: inline;
    margin: 0 1rem;
    padding: 0;
}

.navbar nav ul li a {
    font-size: 1.2rem;
    color: #344960;
    text-decoration: none;
}

.navbar img {
    width: 7rem;
    padding: 0;
    margin: 0;
}

#sign-in-btn a{
    color: white;
}

#sign-in-btn {
    margin-left: 15%;
    background-color: #344960;
    display: none;
}

#sign-in-btn:hover {
    border-color: #cc8561;
}

.navbar nav ul li a:hover {
    color:  #877c71 ;
    border-bottom: #877c71 .2rem solid;
}

@media (min-width: 992px){
    #sign-in-btn {
        display: inline-block;
    }
}