.donation-page{
display: flex;
flex:1;
flex-direction: row;
}

.donation-window{
    display: flex;
    flex:1;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
}


.individual-profile{
    display: flex;
    flex:1;
    flex-direction: column;
}

.donation-steps{
    display: flex;
    flex:1;
}
    
.payment-amount{
    flex:1;
    flex-shrink: 1;
    flex-wrap: wrap;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.5em;
    font-family: "Museo Slab 300","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",sans-serif;
    color: #363636;
}

.donation-window {
    width: 100%;
    min-height: 100%;
    image-rendering: crisp-edges;
    display: flex;
    width: 70%;
    border: 1px solid grey;
}

.donation-steps {
    display: flex;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex:1;
    display: inline;
    overflow: hidden;
    text-align: center;
    padding-right: 10%;
    padding-left:20%;
    justify-content: center;
}


div.step.active span.step-num{
    color: #272626;
}

/*the steps of Gift Amount, billing and payment*/
.step {
    color: #cfcfcf;
    display: inline;
    clear: none;
    text-align: center;
    font-family: "Museo Slab 700","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",sans-serif;
    font-size: 20px;
    height: 40px;
    image-rendering: crisp-edges;
}


.individual-profile{
    background-color: #E3DAD0;
    display: flex;

}

.card-text b{
    color:#8C7B6E;
    font-family:"Museo Slab 700","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",sans-serif
}


#gift-amount-form .form-type-radio input {
    width: 15px;
    height: 15px;
    flex-direction: column;
    align-items:baseline;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #DDC9BE;
    text-align: center;
    display: flex;
    color: #fff;
    padding: 10px;
    margin: 20px 55px;
    border: 10px;
    font-family: "Museo Slab 700","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",sans-serif;
    border-radius: 5px;
    cursor: pointer;
}


.gift-amount-form .form-type-radio label {
    width: 60px;
    height: 60px;
    flex-direction: column;
    align-items:baseline;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #DDC9BE;
    text-align: center;
    display: flex;
    color: #fff;
    padding: 20px;
    margin: 30px 30px;
    border: 80px;
    font-family: "Museo Slab 700","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.payment-amount{
    display: flex;
    background-color: #E3DAD0;
}


html{
    background-color: #E3DAD0;
}

.donation-title h1 {
    display: table-cell;
    vertical-align: middle;
    color: #344960;
    font-size: 42px;
    font-family: "Museo Slab 900","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",sans-serif;
    line-height: 1.2em;
    background-color: white;
}

.card-title p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: #E3DAD0;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media only screen and (min-width: 1140px){
    .step.active {
        color: #272626;
        background-position: 0
    px
     100%;
    }

}

.step-wrapper{
    width: 300px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;

}


.step-num, .step-label, .step-bar {
    display: inline;
}

.step {
    float: left;
    clear: none;
    width: 200px;
    text-align: center;
}


.step {
    color: #cfcfcf;
    display: inline;
    clear: none;
    text-align: center;
    font-family: "Museo Slab 700","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",sans-serif;
    font-size: 20px;
    height: 40px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}



.step {
    float: left;
    clear: none;
    width: 200px;
    text-align: center;
}




  .step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  .step::before {
    position: relative;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 10px;
    left: -50%;
    z-index: 2;
  }

  .step::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 10px;
    left: 50%;
    z-index: 2;
  }

  .step .step-num {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
    color:#272626;
  }

  .step.active {
    font-weight: bold;
  }

  .step.done .step-num {
    background-color: #4bb543;
  }
  
  .step.done::after {
    position: relative;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    top: 10px;
    left: 50%;
    z-index: 3;
  }
  
  .step:first-child::before {
    content: none;
  }
  .step:last-child::after {
    content: none;
  }


label.option{
    font-size:15px;
    text-align: left;
    
}

.gift-amount-form .progress-buttons .continue {
    display: inline-block;
    float: none;
    border-radius: 10px;
}

.progress-buttons .continue{
    background-color: #CC8561;
    background-size: 8px 8px;
    text-align: center;
    border-radius:5px;
    text-size-adjust: 100%;
}

.progress-buttons{
    padding:10px 250px;
}

#position-mover{
    padding-left:250px;
}


h1#page-title{
    padding-top: 20px;
    padding-left: 70px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.donation-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 5%;
    }

      
      span.step-label{
          color:black;
          font-family: "Museo Slab 700","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",sans-serif;
    font-size: 20px;

      }



      
      .step-item .step-num {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ccc;
        margin-bottom: 6px;
      }


      .payment-amount .form-type-radio input {
        width: 15px;
        height: 15px;
        flex-direction: column;
        align-items:baseline;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #DDC9BE;
        text-align: center;
        display: flex;
        color: #fff;
        padding: 10px;
        margin: 20px 55px;
        border: 10px;
        font-family: "Museo Slab 700","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",sans-serif;
        border-radius: 5px;
        cursor: pointer;
    }

    .payment-amount .form-type-radio label {
        width: 60px;
        height: 60px;
        flex-direction: column;
        align-items:baseline;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #344960;
        justify-content: center;
        font-size: 150%;
        text-align: center;
        display: flex;
        color: white;
        padding: 20px;
        margin: 30px 30px;
        border: 80px;
        font-family: "Museo Slab 700","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",sans-serif;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    
    .profile-background-wrapper{
        background-color: white;

    }

    .picture{
        display: flex;
        justify-content: center;
        padding: 10% 10%;
    }


    .card-text{
        text-align: center;
        margin-bottom: 5%;
        
    }

    .card-title{
        text-align: center;
    }



    .donation-button-wrapper{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        
    }
/* the link between circles*/
    .step.done::after {
        position: relative;
        content: "";
        border-bottom: 2px solid #4bb543;
        width: 100%;
        top: 20px;
        left: 50%;
        z-index: 3;
      }

      .step.active::after {
        position: relative;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 20px;
        left: 50%;
        z-index: 2;
      }

      .donation-window h1{
          text-align: center;
      }

      div#header h1{
          text-align: center;
        text-shadow: violet;
      }

.donation-slogan-text p{
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;
    text-size-adjust: 100%;
    font-size: 100%;
}

.w3-bar .w3-button {
    border:none;
    display:inline-block;
    padding:5% 5%;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;

}



.w3-green, .w3-hover-green:hover {
    color: #fff!important;
    background-color: #4CAF50!important;
}

