h1, h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #393E41;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h1 {
    font-size: 3em;
}

#slogan {
    font-style: italic;
    text-align: center;
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #e7e5df;
    line-height: 1.5;
}

p {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 1.5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}

a {
    color: #44BBA4;
}

#formSubmitButton{
  
    font-family: 'Ubuntu', sans-serif;
    align-self: center;
    width: 10rem;
    font-size: 1rem;
    padding: 0.46em 1.6em;
    border: 0.1em solid #cc8561;
    margin: 0 0.2em 2em 0rem;
    border-radius: 0.5em;
    background-color: white;
    color: #cc8561;
    transition: all 0.15s;
  }
  